@font-face {
    font-family: "icon-fonts";
    src: url("./fonts/iconfont2.ttf") format("truetype");
  }
  
  [class^="icon-"]::before,
  [class*=" icon-"]::before {
    display: inline-block;
    font-family: "icon-fonts" !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-search:before {
    content: "\e627";
  }
  
  .icon-cha:before {
    content: "\e609";
  }
  